
/*banner区域*/
.citydata_banner_width{ width:100%; height:340px; border-bottom:#fff solid 1px;top:83px;}
.banner_bg_level1{ background-color:#7db364;}
.banner_bg_level2{background-color:#e3b649;}
.banner_bg_level3{background-color:#e38748;}
.banner_bg_level4{background-color:#e07373;}
.banner_bg_level5{background-color:#9590c9;}
.banner_bg_level6{background-color:#9f6aa2;}

.citydata_banner{width:980px; margin:0px auto; z-index:1;}
.citydata_banner_opacity{position:absolute; width:980px; height:230px; top:235px;left:auto; z-index:6; }
.citydata_banner_top{ position:absolute; width:980px; height:50px; top:160px; left:auto;}
.citydata_changecity{ float:left; display:inline; width:750px;}
.citydata_changecity a{ float:left; display:inline; width:34px; height:35px; background:url(../images/common_sprite.png) -6px -140px no-repeat; margin:8px 15px 0px 0px; }
.citydata_changecity a:hover{ background-position:-6px -100px;}
.citydata_changecity span.city_name{ float:left; display:inline; color:#fff; font-size:36px; padding-right:10px; margin-top:1px;}
.citydata_changecity span.city_description{ float:left; display:inline; color:#fff;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=100); font-size:18px; margin-top:21px;}

.citydata_updatetime{ float:right; display:inline; font-size:14px; color:#fff; margin-top:28px;}

.cbo_opacity{ position:absolute; z-index:3; width:980px; height:230px; top:235px; left:auto;background:rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/filter:Alpha(opacity=10);background:#fff;/*实现IE背景透明*/ }
/*透明层上内容*/
.cbo_left{ float:left; display:inline;}
.cbol_aqi{ float:left; display:inline; position:relative; margin:55px 80px 0px 50px;}
.cbol_aqi_num{ display:block; color:#fff; line-height:120px; text-align:center; font-size:45px;width:120px; height:120px; background:url(../images/citydate_sprite.png) -18px -35px no-repeat;}
.cbol_aqi_name,.cbol_wuranwu_name,.cbol_nongdu_name{ font-size:14px; color:#fff;}
.cbol_aqi_name{ position:absolute; top:54px; left:110px; width:70px; z-index:5;}
.cbol_wuranwu,.cbol_nongdu{float:left; display:inline; position:relative;margin:65px 100px 0px 0px;}
a.cbol_wuranwu_num,.cbol_nongdu_num{ display:block; color:#fff; font-size:24px; width:105px; height:105px; text-align:center; line-height:105px; background:url(../images/citydate_sprite.png) -181px -44px no-repeat;-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;}
a.cbol_wuranwu_num:hover,a.cbol_nongdu_num:hover{ background-position:-20px -177px; }
a.cbol_wuranwu_nodata,a.cbol_nongdu_nodata{ cursor:default;}
a.cbol_wuranwu_nodata:hover,a.cbol_nongdu_nodata:hover{ background-position:-181px -44px;}
a.cbol_wuranwu_nodata i,a.cbol_nongdu_nodata i{ float:left; display:inline; width:100px; height:100px;background:url(../images/citydate_sprite.png) -440px -150px no-repeat; margin:27px 0px 0px 25px;}
a.cbol_nongdu_nodata i{ margin:0px 0px 0px 25px;}
.cbol_wuranwu_name{ position:absolute; top:44px; left:95px; width:70px; z-index:5;}
.cbol_nongdu{}
.cbol_nongdu_num{ line-height:25px; padding-top:30px;}
.cbol_nongdu_num_1{ display:block; font-size:36px;}
.cbol_nongdu_num_2{ font-size:14px;font-size:12px;}
.cbol_nongdu_name{position:absolute; top:44px; left:95px; width:100px; z-index:5;}

.cbo_right{ float:right; display:inline;}
.cbor_gauge{ position:relative; width:278px;}
.cbor_gauge span{ display:block; position:absolute; top:-30px;*top:40px; left:0px; width:66px; height:25px; line-height:20px; text-align:center; background:url(../images/citydate_sprite.png) -257px -4px no-repeat;}
span.cbor_gauge_level1{ color:#569539; left:-15px;}
span.cbor_gauge_level2{ color:#c18d0f; left:25px;}
span.cbor_gauge_level3{ color:#e38748; left:65px;}
span.cbor_gauge_level4{ color:#e65834; left:103px;}
span.cbor_gauge_level5{ color:#bf66c3; left:142px;}
span.cbor_gauge_level6{ color:#804583; left:180px;}
p.cbor_gauge_img{ margin-top:70px;width:235px; height:11px; background:url(../images/citydate_sprite.png) -6px -4px no-repeat;}
p.cbor_gauge_num{ padding-top:5px; color:#fff; font-size:12px;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);}

.cbor_tips{ position:relative; width:260px; color:#fff;}
.cbor_tips p{ line-height:20px;}
.cbor_tips p span{ display:block; margin:10px 0px 5px 0px; font-weight:bold;}

a.cbor_morelink{ display:block; position:absolute; bottom:20px; right:40px; text-align:center;  height:20px; line-height:20px; color:#fff;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);}
a.cbor_morelink:hover{ opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}

/*监测点表格*/
.panel_jiance{ margin:30px 0px 40px 0px;}
.pj_area{}
.pj_area_tab{}
.pj_area_tab a{}
.pj_area_data{ width:978px; border:#e5e5e5 solid 1px;}
.pj_area_data_title{ height:45px; line-height:45px; background-color:#e8e8e8; font-size:14px;}
.pj_area_data_title span,.pj_area_data_title a{ float:left; display:inline; color:#555; text-align:center;}
.pj_area_data_title span.pjadt_location,.pj_area_data_title a.pjadt_aqi{text-align:left; text-indent:20px;}

/*AQI后边的排序三角符号*/
.pjadt_aqi span{ float:left; display:inline; padding-right:8px;}
.tabletittle_arrow{ position:relative;}
.tabletittle_arrow i{ float:left; display:inline; position:absolute;}
i.tabletittle_arrow_top{ top:17px;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #b2b2b2;}
i.tabletittle_arrow_down{ top:24px;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #b2b2b2;}

/*激活的三角颜色*/
a.aqi_arrow_top i.tabletittle_arrow_top{ border-bottom-color:#4a9828;}
a.aqi_arrow_down i.tabletittle_arrow_down{ border-top-color:#4a9828;}

ul.pj_area_data_details{}
ul.pj_area_data_details li.pj_area_data_item{ position:relative; height:40px; line-height:40px; border-bottom:#efefef solid 1px; background-color:#fff;}
ul.pj_area_data_details li.pj_area_data_item_darkbg{ background-color:#fafafa;}
ul.pj_area_data_details li.pj_area_data_item a,ul.pj_area_data_details li.pj_area_data_item span{ float:left; display:inline; font-size:14px; color:#666; text-align:center;}

ul.pj_area_data_details li.pj_area_data_item span.pjadt_ranknum{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#888;}

/*激活li的时候，增加绿色的背景色*/
ul.pj_area_data_details li.pj_area_data_item_active{ background-color:#e1eee7;}
ul.pj_area_data_details li.pj_area_data_item_active b{ position:absolute; display:inline-block; z-index:20; width:4px; height:40px; background-color:#1e9e69; top:0px; left:-3px;}

.pjadt_location{ width:180px; }
.pjadt_aqi{ width:120px;}
.pjadt_quality{ width:170px;}
.pjadt_wuranwu{ width:140px; height:30px; overflow:hidden;}
.pjadt_pm25{width:170px;}
.pjadt_pm10{width:170px;}

ul.pj_area_data_details li.pj_area_data_item span.pjadt_pm25 em,ul.pj_area_data_details li.pj_area_data_item span.pjadt_pm10 em{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; }
.pjadt_quality em{ display:inline-block; width:96px; height:22px; line-height:22px; text-align:center; font-style:normal; color:#fff; margin-top:8px; font-size:12px; }
em.pjadt_quality_bglevel_1{ background-color:#6eb720;}
em.pjadt_quality_bglevel_2{ background-color:#d6c60f;}
em.pjadt_quality_bglevel_3{ background-color:#ec7e22;}
em.pjadt_quality_bglevel_4{ background-color:#df2d00;}
em.pjadt_quality_bglevel_5{ background-color:#b414bb;}
em.pjadt_quality_bglevel_6{ background-color:#6f0474;}
ul.pj_area_data_details li.pj_area_data_item a.pjadt_location{ color:#1e9e69; text-decoration:underline;}
ul.pj_area_data_details li.pj_area_data_item a.pjadt_location:hover{ font-weight:bold;}
ul.pj_area_data_details li.pj_area_data_item a.pjadt_wuranwu:hover{color:#1e9e69; text-decoration:underline;}
ul.pj_area_data_details li.pj_area_data_item .pjadt_location{ text-align:left; overflow:hidden; text-indent:20px;}
ul.pj_area_data_details li.pj_area_data_item span.pjadt_aqi{ text-align:left; text-indent:20px;}

/*针对排行榜用的监测城市的表格数据，进行调整*/
.rank_data{}
.rank_data .pjadt_ranknum{ width:100px;}
.rank_data .rank_data_quality{ float:left; display:inline;position:relative; width:138px; text-align:center; margin:10px 30px 0px 10px;}
.rank_data .pjadt_location{ width:150px; margin-left:20px;}
.rank_data .pjadt_sheng{ width:130px;}
.rank_data ul.pj_area_data_details li.pj_area_data_item span.pjadt_aqi{ width:150px; text-align:center; text-indent:40px; margin-right:20px;}
.rank_data .pjadt_pm25{ width:150px;}

/*全国空气质量下拉选项*/
.rank_data .rank_data_quality .pjadt_quality{ width:138px; height:25px; line-height:25px; cursor:pointer;}
.rank_data .rank_data_quality .pjadt_quality span{float:none; display:inline-block; color:#555;}
.rank_data .rank_data_quality .pjadt_quality i{float:none; display:inline-block;width: 0;height: 0;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #999; margin:10px 0px 0px 10px;}
.rank_data_quality_active{ position:absolute; top:28px; width:134px; left:0px; padding:7px 0px; border:#e8e8e8 solid 1px; background-color:#fff; z-index:5; line-height:31px; font-size:14px;-webkit-box-shadow:0 1px 9px rgba(0,0,0,.2);-moz-box-shadow:0 1px 9px rgba(0,0,0,.2);box-shadow:0 1px 9px rgba(0,0,0,.2);}
.rank_data_quality_active li{ float:left; display:inline; width:134px;}
.pj_area_data_title .rank_data_quality_active a{ width:134px; text-align:left; text-indent:20px;}
.pj_area_data_title .rank_data_quality_active a i{color:#bbb; font-family:Arial, Helvetica, sans-serif; padding-right:10px;}
.pj_area_data_title .rank_data_quality_active a:hover{background-color:#f4f4f4; color:#1e9e69;}
.pj_area_data_title .rank_data_quality_active a:hover i{color:#1e9e69;}


/*激活下拉状态*/
.rank_data_quality_hover .pjadt_quality{ background-color:#fff;}
.rank_data .pj_area_data_item .pjadt_quality{ width:150px; text-align:left; margin:0px 30px 0px 30px;}

/*按省份筛选*/
.rank_data_shengfen{ position:relative; float:left; display:inline; width:170px; text-align:center; margin-top:10px;}
.rank_data_shengfen a.pjadt_sheng{ width:130px; height:25px; line-height:25px; cursor:pointer;}
.rank_data_shengfen a.pjadt_sheng span{float:none; display:inline-block;}
.rank_data_shengfen a.pjadt_sheng i{float:none; display:inline-block;width: 0;height: 0;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #999; margin:10px 0px 0px 10px;}
.rank_data_shengfen_hover a.pjadt_sheng{ background-color:#fff;}

.rank_data_shengfen_active{ position:absolute; top:28px; width:300px; padding:7px 20px 20px 20px; left:0px; z-index:5; line-height:30px; font-size:14px; border:#e8e8e8 solid 1px;background-color:#fff;-webkit-box-shadow:0 1px 9px rgba(0,0,0,.2);-moz-box-shadow:0 1px 9px rgba(0,0,0,.2);box-shadow:0 1px 9px rgba(0,0,0,.2);}
.rank_data_shengfen_active_line1{ padding-bottom:5px; margin-bottom:10px; border-bottom:#ddd dotted 1px;}
.rank_data_shengfen_active a{ float:left; display:inline; width:72px; text-align:left; margin:0px 1px 1px 0px;}
.rank_data_shengfen_active a span{ float:left; display:inline; padding:0px 7px;}
.rank_data_shengfen_active a:hover span{ background-color:#f4f4f4;color:#1e9e69;}


.rank_data .pj_area_data_title .pjadt_location{ width:150px; padding-left:30px;}
.rank_data .pj_area_data_title a.pjadt_aqi{ text-indent:40px; margin-right:10px;}

/*展开全部按钮*/
.rank_data_showmore{ margin:30px 0px 100px 0px;}
a.rank_data_showmore_btn{ float:left; display:inline; margin-left:350px; width:280px; height:45px; line-height:45px; background-color:#e8e8e8; border-bottom:#d8d8d8 solid 3px; text-align:center; font-size:16px; color:#555;}
a.rank_data_showmore_btn span{ float:left; display:inline; margin-left:95px;}
a.rank_data_showmore_btn i{ float:left; display:inline; width:10px; height:10px; background:url(../images/common_sprite.png) -354px -86px no-repeat; margin:18px 0px 0px 10px;}
a.rank_data_showmore_btn:hover{ background-color:#e1e1e1;}
p.rank_data_showmore_tips{ float:right; display:inline; color:#555; font-size:14px; margin-top:20px;}



/*曲线图部分*/
.panel_graph{ margin:20px 0px 50px 0px;}
p.pg_title{ font-size:20px; color:#555; margin:10px 0px 20px 0px; text-indent:20px;}
.pg_area,.pj_area{position:relative;width:980px;height:auto; overflow:hidden;}
.map_area{position:relative;width:100%;height:auto; overflow:hidden;}
.pj_area_tab{ }
p.pj_area_links{ position:absolute; top:15px; right:0px;}
p.pj_area_links a{ padding-left:20px; color:#1e9e69;}
p.pj_area_links a:hover{ text-decoration:underline;}
.pg_area_tab a,.pj_area_tab a{ float:left; display:inline; text-align:center; font-size:14px; width:162px; height:40px; line-height:40px; color:#555; border:#e8e8e8 solid 1px; background-color:#fff; margin-right:1px; border-top-left-radius:3px;-moz-border-top-left-radius:3px;-webkit-border-top-left-radius:3px;border-top-right-radius:3px;-moz-border-top-right-radius:3px;-webkit-border-top-right-radius:3px;}
.pg_area_tab a:hover,.pg_area_tab a.current,.pj_area_tab a:hover,.pj_area_tab a.current{ border:#45a873 solid 1px; background-color:#57b382; color:#fff;}
.pg_content{ height:310px; width:978px; background-color:#f7f7f7; border:#e5e5e5 solid 1px; padding-top:10px;}

.map{ width:80%; margin:0px auto; position:relative; padding-bottom:40px;}
.map_area{position:relative;width:100%;height:auto; overflow:hidden;}
.map_content{ height:600px; width:100%; background-color:#f7f7f7; border:#e5e5e5 solid 1px; padding-top:10px;}

/*单独一个曲线图时（没有切片）*/
.panel_onlyone{ background-color:#f7f7f7; border:#e5e5e5 solid 1px; margin-top:40px;}
.panel_onlyone p.pg_title{ margin:20px 0px 0px 0px;}
.panel_onlyone .pg_content{ background:none; border:none;}

/*相关城市*/
dl.panel_relevantcity{ width:978px; border:#e5e5e5 solid 1px; margin-bottom:50px;}
dl.panel_relevantcity dt{ text-indent:20px;  font-size:20px; color:#555; margin-top:20px;}
dl.panel_relevantcity dd{ padding-left:10px; margin:15px 0px 25px 0px;}
dl.panel_relevantcity dd a.pr_item,.pr_item_special{ float:left; display:inline; border:#e5e5e5 solid 1px; width:160px; height:62px; margin:8px 15px; cursor:pointer;}
dl.panel_relevantcity dd a.pr_item_level1:hover{border:#d4ecba solid 1px;}
dl.panel_relevantcity dd a.pr_item_level1:hover p.pri_left{background-color:#ebfadc;}
dl.panel_relevantcity dd a.pr_item_level2:hover{border:#f5ed8d solid 1px;}
dl.panel_relevantcity dd a.pr_item_level2:hover p.pri_left{ background-color:#fbf9db;}
dl.panel_relevantcity dd a.pr_item_level3:hover{ border:#fbcd9d solid 1px;}
dl.panel_relevantcity dd a.pr_item_level3:hover p.pri_left{ background-color:#ffecd9;}
dl.panel_relevantcity dd a.pr_item_level4:hover{border:#f3b9b9 solid 1px;}
dl.panel_relevantcity dd a.pr_item_level4:hover p.pri_left{background-color:#fee6e6;}
dl.panel_relevantcity dd a.pr_item_level5:hover{border:#f9bffb solid 1px;}
dl.panel_relevantcity dd a.pr_item_level5:hover p.pri_left{background-color:#feeaff;}
dl.panel_relevantcity dd a.pr_item_level6:hover{border:#d4c2d5 solid 1px;}
dl.panel_relevantcity dd a.pr_item_level6:hover p.pri_left{background-color:#efe1f0;}

p.pri_left{ float:left; display:inline; width:90px; height:100%; line-height:60px; text-align:center; overflow:hidden; font-size:14px; color:#555; background-color:#f2f2f2;}
p.pri_right{ float:right; display:inline; width:70px;}
p.pri_right span{ display:block; width:70px; margin-top:10px; text-align:center; font-size:18px;}
p.pri_right span em{ float:left; display:inline; font-style:normal;}
p.pri_right b{ display:block; text-align:center; font-weight:normal; }
.prir_aqi_level1{ color:#6eb720;}
.prir_aqi_level2{ color:#d6c60f;}
.prir_aqi_level3{ color:#fb890f;}
.prir_aqi_level4{ color:#BB1E1E;}
.prir_aqi_level5{color:#bf66c3;}
.prir_aqi_level6{color:#804583;}

i.prir_aqi_rise,i.prir_aqi_down{ display:inline-block; width:7px; height:10px; background:url(../images/common_sprite.png) -376px -87px no-repeat; margin-left:5px;}
i.prir_aqi_down{ background-position:-390px -87px;}

a.pr_item_special{ border:#cacaca dashed 1px; padding:17px 0px 0px 38px; width:122px; height:45px;}
.pr_item_special em{ float:left; display:inline; margin-top:6px; font-style:normal; font-size:14px; color:#555;}
.pr_item_special i{ float:left; display:inline; width:27px; height:27px; background:url(../images/citydate_sprite.png) -441px -25px no-repeat; margin-left:8px;}
a.pr_item_special:hover{ background-color:#f0f5ee;border:#68a364 dashed 1px; }
a.pr_item_special:hover em{ color:#68a364;}
a.pr_item_special:hover i{ background-position:-441px -95px;}


/*详细监测点污染物浓度页面*/



/*banner部分*/
.banner_datadetails_width,.citymessagetitle_width{ width:100%; height:200px; border-bottom:#e3e3e3 solid 4px; background-color:#f5f5f5; }
.banner_datadetails,.citymessagetitle{ width:980px; height:200px; margin:0px auto; position:relative;}
.bdd_city{ margin:35px 0px 0px 0px;}
.bdd_city_left{ float:left; display:inline;}
.bddcl_title{ float:left; display:inline; font-size:28px; color:#555;}
.bddcl_content{ float:left; display:inline; position:relative;}
.bddcl_content a.bddcl_dropdown{ float:left; display:inline; font-size:14px; padding:5px 15px; border:#bbb solid 1px; margin:6px 15px;  color:#888;}
.bddcl_content a.bddcl_dropdown span{ float:left; display:inline;}
.bddcl_content a.bddcl_dropdown i{ float:left; display:inline;width: 0;height: 0;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #999; margin:6px 0px 0px 20px;}
.bddcl_content_hover a.bddcl_dropdown{ background-color:#fff; border:#888 solid 1px; color:#555;}
.bddcl_content_hover a.bddcl_dropdown i{   width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #555; border-top:none;}
.bddcl_info{ float:left; display:inline; font-size:20px; color:#888; margin-top:5px;}

.bddcl_title{ float:left; display:inline; font-size:28px; color:#555;}
.bddcl_province_content{ float:left; display:inline; position:relative;}
.bddcl_province_content a.bddcl_province_dropdown{ float:left; display:inline; font-size:14px; padding:5px 15px; border:#bbb solid 1px; margin:6px 15px;  color:#888;}
.bddcl_province_content a.bddcl_province_dropdown span{ float:left; display:inline;}
.bddcl_province_content a.bddcl_province_dropdown i{ float:left; display:inline;width: 0;height: 0;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #999; margin:6px 0px 0px 20px;}
.bddcl_province_content_hover a.bddcl_province_dropdown{ background-color:#fff; border:#888 solid 1px; color:#555;}
.bddcl_province_content_hover a.bddcl_province_dropdown i{   width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #555; border-top:none;}
.bddcl_info{ float:left; display:inline; font-size:20px; color:#888; margin-top:5px;}

.bddcl_city_content{ float:left; display:inline; position:relative;}
.bddcl_city_content a.bddcl_city_dropdown{ float:left; display:inline; font-size:14px; padding:5px 15px; border:#bbb solid 1px; margin:6px 15px;  color:#888;}
.bddcl_city_content a.bddcl_city_dropdown span{ float:left; display:inline;}
.bddcl_city_content a.bddcl_city_dropdown i{ float:left; display:inline;width: 0;height: 0;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #999; margin:6px 0px 0px 20px;}
.bddcl_city_content_hover a.bddcl_city_dropdown{ background-color:#fff; border:#888 solid 1px; color:#555;}
.bddcl_city_content_hover a.bddcl_city_dropdown i{   width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #555; border-top:none;}


.bdd_city_right{ float:right; display:inline; color:#999; margin-top:10px;font-size:14px;}

/*显示隐藏的监测点列表*/
.bddcl_content_active { position:absolute; top:34px; left:15px; width:300px; z-index:10; padding:10px; width:300px; background-color:#fff; border:#bbb solid 1px;-webkit-box-shadow:0 1px 9px rgba(0,0,0,.15);-moz-box-shadow:0 1px 9px rgba(0,0,0,.15);box-shadow:0 1px 9px rgba(0,0,0,.15);}
.bddcl_content_active ul{ line-height:31px;}
.bddcl_content_active li{ float:left; display:inline; width:50%;}
.bddcl_content_active li a{ float:left; display:inline;width:100%; color:#555; text-indent:15px;font-size:14px;}
.bddcl_content_active li.current a,.bddcl_content_active li a:hover{ background-color:#f4f4f4; color:#1e9e69;}
.bddcl_content_active li a i{ color:#bbb; font-family:Arial, Helvetica, sans-serif; padding-right:10px;}
.bddcl_content_active li.current a i,.bddcl_content_active li a:hover i{ color:#66a063;}

.bddcl_province_content_active { position:absolute; top:34px; left:15px; width:300px; z-index:10; padding:10px; width:300px; background-color:#fff; border:#bbb solid 1px;-webkit-box-shadow:0 1px 9px rgba(0,0,0,.15);-moz-box-shadow:0 1px 9px rgba(0,0,0,.15);box-shadow:0 1px 9px rgba(0,0,0,.15);}
.bddcl_province_content_active ul{ line-height:31px;}
.bddcl_province_content_active li{ float:left; display:inline; width:50%;}
.bddcl_province_content_active li a{ float:left; display:inline;width:100%; color:#555; text-indent:15px;font-size:14px;}
.bddcl_province_content_active li.current a,.bddcl_content_active li a:hover{ background-color:#f4f4f4; color:#1e9e69;}
.bddcl_province_content_active li a i{ color:#bbb; font-family:Arial, Helvetica, sans-serif; padding-right:10px;}
.bddcl_province_content_active li.current a i,.bddcl_content_active li a:hover i{ color:#66a063;}

.bddcl_city_content_active { position:absolute; top:34px; left:15px; width:300px; z-index:10; padding:10px; width:300px; background-color:#fff; border:#bbb solid 1px;-webkit-box-shadow:0 1px 9px rgba(0,0,0,.15);-moz-box-shadow:0 1px 9px rgba(0,0,0,.15);box-shadow:0 1px 9px rgba(0,0,0,.15);}
.bddcl_city_content_active ul{ line-height:31px;}
.bddcl_city_content_active li{ float:left; display:inline; width:50%;}
.bddcl_city_content_active li a{ float:left; display:inline;width:100%; color:#555; text-indent:15px;font-size:14px;}
.bddcl_city_content_active li.current a,.bddcl_content_active li a:hover{ background-color:#f4f4f4; color:#1e9e69;}
.bddcl_city_content_active li a i{ color:#bbb; font-family:Arial, Helvetica, sans-serif; padding-right:10px;}
.bddcl_city_content_active li.current a i,.bddcl_content_active li a:hover i{ color:#66a063;}

.wuranwu_nav{ position:absolute; z-index:5; bottom:-4px; width:100%; height:40px; border-left:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;background-color:#ececec;border-bottom:#57b382 solid 4px;}
.wuranwu_nav li{ float:left; display:inline; line-height:40px;}
.wuranwu_nav li a{border-top:#e3e3e3 solid 1px; float:left; display:inline; width:139px; height:40px; color:#555; text-align:center;}
.wuranwu_nav li a:hover,.wuranwu_nav li a.current{ background-color:#57b382; color:#fff;border-top:#45a873 solid 1px;}
.wuranwu_nav li i{ float:left; display:inline; width:1px; font-style:normal; color:#cdcdcd;}

/*城市排行榜的导航*/
.rankdate_nav{ font-size:14px;}
/*有2013年度的时候.rankdate_nav li a{ width:195px;}*/
.rankdate_nav li a{ width:244px;}

/*底部小百科栏目*/
.panel_citydata_baike{ border:#e5e5e5 solid 1px; margin-bottom:50px;}
p.pcb_title{ font-size:18px; color:#888; height:55px; line-height:60px; text-indent:20px; font-weight:bold;}
p.pcb_title a{ color:#529538; padding-left:5px;background-color:#fbfbfb; border-bottom:#fbfbfb solid 6px; font-size:15px;}

.panel_citydata_baike ul{}
.panel_citydata_baike ul li{ float:left; display:inline; height:105px; width:286px; padding:20px 20px 30px 20px; border-bottom:#fbfbfb 6px solid;}
.panel_citydata_baike ul li a{ float:left; display:inline; padding-top:10px;}
.panel_citydata_baike ul li a:hover{ text-decoration:underline;}
.pcb_item_left{ float:left; display:inline; width:70px; height:100%;}
.pcb_item_left span{ display:block; width:56px; height:56px; background:url(../images/citydate_sprite.png) 0 0 no-repeat; margin-top:30px;}
.pcb_item_right{ color:#888; line-height:18px; }
.pcb_item_right_title{ font-size:16px; margin-bottom:10px; color:#555;}




li.pcb_item_aqi .pcb_item_left span{ background-position:-345px -3px;}
li.pcb_item_aqi a{ color:#67af5f;}
.panel_citydata_baike ul li.pcb_item_aqi_active{background-color:#e9f2e8; border-bottom:#b2dcae solid 6px;}
li.pcb_item_chayi .pcb_item_left span{background-position:-345px -73px;}
li.pcb_item_chayi a{ color:#d5b059;}
.panel_citydata_baike ul li.pcb_item_chayi_active{background-color:#f6f7de; border-bottom:#eecf85 solid 6px;}
li.pcb_item_pm25 .pcb_item_left span{background-position:-345px -142px;}
li.pcb_item_pm25 a{ color:#dc7575;}
.panel_citydata_baike ul li.pcb_item_pm25_active{background-color:#faefef; border-bottom:#f7aaaa solid 6px;}


/*城市排行*/
.rank_banner{ padding-top:55px;}
.rank_banner_left{ float:left; display:inline;}
p.rank_bannertitle{ color:#555; font-size:30px;}
p.rank_bannerinfo{ color:#9e9e9e; font-size:14px; padding-top:7px;}
.rank_banner_right{ float:right; display:inline;padding-top:15px;}
.rank_banner_right span{ color:#ec7e22; font-size:16px; }

.rank_paixu{ float:right; display:inline; position:relative;font-size:14px; margin:20px 0px 10px 0px;}
.rank_paixu_dropdown{border:#bbb solid 1px; float:left; display:inline; width:120px; height:25px; line-height:25px;}
.rank_paixu_dropdown span{ float:left; display:inline; color:#555; text-indent:15px;}
.rank_paixu_dropdown i{float:left; display:inline;width: 0;height: 0;border-left:5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #999; margin:10px 0px 0px 10px;}

.rank_paixu_hover .rank_paixu_dropdown{ background-color:#fff;}

.rank_paixu_active{ position:absolute; width:120px; height:35px; right:0px; top:25px; background-color:#fff; border-bottom:#bbb solid 1px; border-right:#bbb solid 1px; border-left:#bbb solid 1px;}
.rank_paixu_active a{ float:left; display:inline; margin-top:5px; width:120px; text-indent:15px; height:25px; line-height:25px; color:#555; border-top:#efefef dotted 1px;}
.rank_paixu_hover .rank_paixu_active a:hover{ color:#1e9e69;}

/*城市留言评论样式*/
.citymessagetitle_width{ height:165px; border-bottom:#eaeaea solid 1px;}
.citymessagetitle{ height:165px; font-size:14px;}

.cmt_left{ float:left; width:695px; margin-top:30px;}
.cmt_right{ float:left; width:240px;margin-top:45px; border-left:#d9d9d9 solid 1px; padding:20px;}
p.cmt_left_city{ margin-bottom:15px;}
span.cmt_cityname{font-size:30px; color:#555; padding-right:10px;}
span.cmt_wuranlevel{ display:inline-block; padding:2px 15px; border:#555 solid 1px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;}
a.cmt_wuranlink{ padding-left:10px;}
a.cmt_wuranlink:hover{ text-decoration:underline;}
span.message_level1{ border-color:#6eb720; color:#6eb720;}
span.message_level2{border-color:#d6c60f; color:#d6c60f;}
span.message_level3{border-color:#fb890f; color:#fb890f;}
span.message_level4{border-color:#BB1E1E; color:#BB1E1E;}
span.message_level5{border-color:#bf66c3; color:#bf66c3;}
span.message_level6{border-color:#804583; color:#804583;}
a.message_level1{color:#6eb720;}
a.message_level2{color:#d6c60f;}
a.message_level3{color:#fb890f;}
a.message_level4{color:#BB1E1E;}
a.message_level5{color:#bf66c3;}
a.message_level6{color:#804583;}

p.cmt_left_canshu{ color:#555; margin-bottom:6px;}
p.cmt_left_canshu span{ padding-right:35px;}
p.cmt_left_tips{ color:#888;}


p.cmt_right_total{ margin-bottom:10px; color:#555;}
p.cmt_right_total span{  color:#57b382; font-size:18px; font-weight:bold; padding:0px 5px;}
p.cmt_right_btn{}
p.cmt_right_btn a{ display:inline-block; width:110px; height:30px;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px;}
p.cmt_right_btn a i{ float:left; margin:3px 9px 0px 10px; width:20px; height:20px; background:url(../images/login_sprite.png) 0 0 no-repeat;}

a.cmt_btn_fabiao{ border-bottom:#45a873 solid 2px; background-color:#57b382; margin-right:5px; color:#fff; line-height:30px;}
a.cmt_btn_tanmu{ height:32px; line-height:30px; border:#57b382 solid 1px; background-color:#eff5ec; color:#1e9e69;}
a.cmt_btn_fabiao:hover{ border-bottom-color:#1e9e69; background-color:#45a873;}
p.cmt_right_btn a.cmt_btn_fabiao i{ background-position:-281px -15px;}
p.cmt_right_btn a.cmt_btn_tanmu i{ background-position:-315px -16px;}


/*内容区域*/
.citymessage_area{float:left; display:inline; width:661px; padding-right:30px; border-right:#c8c8c8 dotted 1px; margin:30px 0px;}
.citymessage_right{position:relative;float:right; width:287px; border-left:#c8c8c8 dotted 1px; margin-top:30px; margin-bottom:30px;}
.message_hotcity{ padding-left:20px; padding-bottom:50px;}
p.message_hotcity_title{ height:40px; line-height:40px; font-size:16px; color:#888; font-weight:bold; border-bottom:#e3e3e3 solid 3px;}
ul.message_hotcity_list{}
ul.message_hotcity_list li{ width:267px; border-bottom:#ddd dotted 1px;}
ul.message_hotcity_list li a{ display:inline-block; width:267px; line-height:35px; color:#555; font-size:14px;}
ul.message_hotcity_list li a:hover{ background-color:#f3f3f3; color:#1e9e69;}
ul.message_hotcity_list li a span{ float:left; width:19px; height:21px; margin:8px 10px 0px 5px; line-height:21px; text-align:center; background-color:#c2c2c2; color:#fff;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px; font-size:12px;}
ul.message_hotcity_list li a span.topthree{ background-color:#57b382;}
ul.message_hotcity_list li a b{ float:right; font-weight:normal; color:#1e9e69; font-size:12px;}












